.footer-container {
    background-Color: "rgba(0, 0, 0, 0.7)";
    color: rgb(82, 18, 184);
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    cursor: pointer;
  }
  